[submodule "third_party/llvm-project"]
	path = third_party/llvm-project
	url = https://github.com/PlatinumCD/llvm-project.git
[submodule "third_party/sst-core"]
	path = third_party/sst-core
	url = https://github.com/sstsimulator/sst-core.git
[submodule "third_party/sst-elements"]
	path = third_party/sst-elements
	url = https://github.com/sstsimulator/sst-elements.git
[submodule "third_party/qemu"]
	path = third_party/qemu
	url = https://gitlab.com/qemu-project/qemu.git
[submodule "third_party/torch-mlir"]
	path = third_party/torch-mlir
	url = https://github.com/PlatinumCD/torch-mlir.git
	branch = analog-extension
	shallow = true
[submodule "third_party/cross-sim"]
	path = third_party/cross-sim
	url = https://github.com/sandialabs/cross-sim.git
